* {
    background:     #101416;
    foreground:     #dfe3e5;

    color0:     #0a0f11;
    color1:     #75d3f3;
    color2:     #aaccda;
    color3:     #e7b4fd;
    color4:     #4baccb;
    color5:     #2b4b57;
    color6:     #bf8fd5;
    color7:     #bec8cd;
    color8:     #889297;
    color9:     #75d3f3;
    color10:     #aaccda;
    color11:     #e7b4fd;
    color12:     #4baccb;
    color13:     #2b4b57;
    color14:     #bf8fd5;
    color15:     #dfe3e5;

    background-color:   @background;
    border-color:       @color8;
    spacing:            2;
}
